<h1 class="text-center"> Item List</h1>
<table class="table table-hover table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>Order Id</th>
            <th>Customer Id</th>
            <th>Date Of order</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let order of orders">
            <td>{{order.orderId}}</td>
            <td>{{order.customerId}}</td>
            <td>{{order.dateOfOrder}}</td>
            <td>{{order.adressOfDelivery}}</td>
            <td>
                <button (click)=" deleteOrder(order.orderId)" class="btn btn-danger" >DELETE</button>
                <button (click)=" orderDetails(order.orderId)" class="btn btn-info" style="margin-left: 10px;">Show Details</button>
            </td>
            
        </tr>
    </tbody>
</table> 
